
@charset "UTF-8";

@font-face {
    font-family: 'NG';
    src: url("../../asset/font/NanumGothic.woff") format("woff");
}

@font-face {
    font-family: 'NGBold';
    src: url("../../asset/font/NanumGothicBold.woff") format("woff");
}

@font-face {
    font-family: 'NGEB';
    src: url("../../asset/font/NanumGothicExtraBold.woff") format("woff");
}

@font-face {
    font-family: 'CooperBlack';
    src: url("../../asset/font/Cooper-Black-BT.woff") format("woff");
}

* {
    margin: 0;
    padding: 0;
}

/* header 전체*/
#u-nav-bar {
    width: 100vw;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    display: flex;
    justify-content: center;
}

#u-header {
    width: 1024px;
    /*margin: 0 23vw;*/
    height: 10vh;
    display: flex;
    align-items: center;
    font-family: 'NG';
    justify-content: space-around;
}

/* 로고 */
#nav-logo {
    font-family: 'CooperBlack';
    font-size: xxx-large;
    height: 10vh;
    display: flex;
    align-items: center;
}

#nav-logo > a {
    color: #92DB82;
    text-decoration: none;
}

/* 메뉴 */
#u-nav-menu {
    display: flex;
    width: 50vw;
    height: 10vh;
    font-size: 1.2rem;
    padding: 0 4vw;
    color: rgba(0,0,0, 0.5);
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    margin: 0;
}

#u-nav-menu li {
    display: flex;
    flex-basis: 20%;
    justify-content: center;
    align-content: center;
    margin: 5px;
}

#u-nav-menu a {
    display: flex;
    flex-basis: 100%;
    justify-content: center;
    align-self: center;
    letter-spacing: 2px;
    position: relative;
    height: 9.5vh;
    /*line-height: 9vh;*/
    line-height: 10vh;
    text-decoration: none;
    color: #000;
}


#u-nav-menu a:before,
#u-nav-menu a:after {
    transition: all 0.35s ease;
    -webkit-transition: all 0.35s ease-in-out;
}

#u-nav-menu a:after {
    position: absolute;
    background-color: #92DB82;
    height: 4px;
    width: 0;
    content: "";
    left: 0;
    top : 100%;
    overflow: hidden;
}

#u-nav-menu li:hover a {
    font-family: 'NGEB';
    color: #92DB82;
}

#u-nav-menu a:hover:after {
    opacity: 1;
    width: 100%;
}

/* 마이페이지 */
#u-nav-links {
    display: flex;
    width: 10vw;
    height: 10vh;
    margin: 0 5px;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

#u-nav-links > li > a {
    display: flex;
    flex-basis: 100%;
    justify-content: center;
    align-self: center;
    position: relative;
    height: 9vh;
    line-height: 10vh;
    text-decoration: none;
    color: #000;
}

#u-nav-links > li:nth-child(2) > a {
    color: rgb(190, 190, 190);
    text-decoration: none;
    color: #000;
}

#u-nav-links > li:nth-child(odd):hover > a {
    color: #92DB82;
    font-family: 'NGBold';
    text-decoration: none;
}

#u-nav-links > div {
    display: flex;
    justify-content: center;
}

#u-links-user {
    background-image: url("../../asset/image/header/user2b.png");
    background-size: 31px;
    width: 35px;
    height: 35px;
    border-radius: 50px;
    border: 2px solid #92DB82;
}

#u-links-user:hover {
    background-image: url("../../asset/image/header/user2a.png");
}

#prof-img {
    padding: 0;
}
