/* html {
    width : 1024px;
} */
/* body {
    align-items: center;
    margin: 0 auto;
} */

.container {
    width: 1024; /* 컨텐츠 width 1024로 맞춰주기 */
    margin: 0 auto;
}



.search {
    margin-top: 30px;
    margin-left: 150px;
    margin-bottom: 30px;
}
input {
    border-radius: 25px;
    border: 1px solid #bbb;
    padding: 10px 12px;
    background-image : url('img/button_search.png');
    background-position:95% 38%;
    background-repeat:no-repeat;
}

input::placeholder {
    color: gray;
}
.fa-search {
    margin-left: 10px;
}
/* .div-container {
    margin-right: 150px;
    margin-left: 150px;
} */
.card {
    margin-right: 5px;
    margin-left: 5px;
}
#open-btn {
    margin-left: 10px;
    width: 180px;
    background-color: rgb(102,200,141);
    border-radius: 5px;
    height: 50px;
    border: white;
    color: white;
    font-weight: bold;
    font-size: large;
}
.form-select {
    margin-left: 10px;
    border-radius: 25px;
    padding: 10px;
    width: 90px;
}

.tag-btn {
    margin-top: 15px;
    margin-left: 10px;
    border-radius: 25px;
}
.tag-btn button {
    border: white;
    color: rgb(131,131,131);
    background-color: rgb(250,250,250);
    padding: 10px;
    border-radius: 25px;
    font-size: small;
    font-weight: bold;
}
#lv-btn {
    margin-left: 10px;
}
#re-btn {
    width: 70px;
}
.tag-btn button:hover {
    background-color: white;
    border: rgb(102,200,141);
    color: rgb(102,200,141);
    outline: 1px solid rgb(102,200,141);
}

#open-btn:hover {
    background-color: white;
    border: rgb(102,200,141);
    color: rgb(102,200,141);
    outline: 1px solid rgb(102,200,141);
}

#u-nav-menu {
    margin: 0;
}

#u-nav-links {
    margin: 0;
}

.form-control:focus {
    box-shadow: 0 0 0 0.25rem rgb(102 200 141 / 25%);
    border-color: rgb(224, 224, 224);
  }

  .form-control:focus {
    box-shadow: 0 0 0 0.25rem rgb(102 200 141 / 25%);
    
  }

input.form-control::placeholder {
    font-size: 15px;
    color: rgb(190, 190, 190);
}  

.form-control:focus {
    box-shadow: 0 0 0 0.25rem rgb(102 200 141 / 25%);
    border: none;
}
