/* .btn-primary {
  background-color: aqua;
} */

.signup-time label {
  background-color: aquamarine;
}

input:checked + label {
  /* color: red; */
  background-color: crimson;
}

/* .btn-check:checked + label {
  background-color: blueviolet;
} */