html,
body {
  height: 100%;
  font-family: "Nanum Gothic", "NanumGothic";
}

/* body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
} */

.h-lime {
  text-align: left;
  /* font-family: 'NanumBarunGothic'; */
  font-weight: bold;
}

.h-lime + div {
  font-size: 0.75rem;
  color: rgb(94, 94, 94);
}

#kakao-login {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  position: relative;
  width: 3rem;
  height: 3rem;
  border-radius: 50px;
  margin: 1rem;
}

#facebook-login {
  padding: 0;
  position: relative;
  width: 3rem;
  height: 3rem;
  border-radius: 50px;
  margin: 1rem;
}

#facebook-login img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#kakao-login img {
  width: 1.9rem;
  object-fit: cover;
  margin-left: 0.1rem;
  margin-top: 0.1rem;
}

#naver-login {
  padding: 0;
  position: relative;
  width: 3rem;
  height: 3rem;
  border-radius: 50px;
  margin: 1rem;
}

#naver-login img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section-border {
  border-top: 1px solid rgb(224, 224, 224);
}

.form-lime {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  margin: auto;
}

.form-signup {
  margin-bottom: 1.8rem;
}

.row {
  margin: 0;
}

.form-signup .checkbox {
  font-weight: 400;
}

.form-control:focus {
  box-shadow: 0 0 0 0.25rem rgb(102 200 141 / 25%);
  border-color: rgb(224, 224, 224);
}

.form-signup input {
  border-radius: 5px;
  border-color: rgb(224, 224, 224);
}

#btn-signup {
  background-color: #66c88d;
  border: none;
  height: 3.3rem;
  font-weight: bold;
}

#btn-signup:hover {
  background-color: #52b479;
}

p {
  font-size: x-small;
}

.form-signup .form-control {
  height: 2.5rem;
}

input.form-control::placeholder {
  font-size: 15px;
  color: rgb(190, 190, 190);
}

.signup-help {
  font-size: 13px;
  text-align: start;
}

div.col-8.input-phone {
  padding: 0;
  /* padding-right: 0; */
}

div.col-4.input-phone {
  padding: 0;
  padding-left: 0.3rem;
}

div.col.input-phone {
  padding: 0;
  padding-left: 0.3rem;
}

#phoneCheck {
  height: 2.5rem;
  width: 7.5rem;
  font-size: 15px;
  font-weight: bold;
  color: rgb(127, 127, 127);
  background-color: rgb(240, 240, 240);
  border-color: rgb(224, 224, 224);
}

#phoneCheck:hover {
  background-color: #e1e1e1;
}

/* .checkbox label {
  float: left;
} */

.checkbox div {
  display: flex;
  justify-content: start;
  align-items: center;
}

/* 체크박스 옆에 있는 텍스트 */
.checkbox span {
  margin-left: 0.3rem;
  font-size: 14px;
}

.checkbox span:nth-child(3) {
  font-size: 13px;
}

#checkAll {
  font-weight: bold;
}

.require {
  color: #66c88d;
}

.option {
  color: rgb(127, 127, 127);
}

.form-signup label {
  display: flex;
  justify-content: start;
  align-items: center;
  font-weight: bold;
  font-size: 15px;
}

#footer-login div {
  font-size: 14px;
  color: rgb(66, 66, 66);
  margin-bottom: 0.5rem;
}

#footer-login a {
  font-size: 15px;
  color: rgb(66, 66, 66);
}

#footer-login a {
  margin-left: 0.7rem;
  font-weight: bold;
}

#footer-login a:hover {
  color: rgb(150, 150, 150);
}

.form-signup .form-check-input {
  margin-top: 0;
  border-color: rgb(190, 190, 190);
}

.form-check-input:focus {
  box-shadow: 0 0 0 0.25rem rgb(102 200 141 / 25%);
}

.nav-menu {
  padding: 0;
}

.nav-links {
  padding: 0;
}

.nav-menu-div {
  margin-top: 1rem;
  padding-left: 5.3125rem;
  padding-right: 5.3125rem;
}

/* .nav-links-div {
  margin-top: 1.1rem;
} */
