@import "signup1.css";

.day-of-birth select:nth-child(2) {
  margin: 0 0.3rem;
}

.form-select {
  height: 2.5rem;
  border-radius: 5px;
  border-color: rgb(224, 224, 224);
  font-size: 15px;
}

.form-select:focus {
  box-shadow: 0 0 0 0.25rem rgb(102 200 141 / 25%);
  border-color: rgb(224, 224, 224);
}

.indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.indicator div {
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 50%;
  background-color: rgb(240, 240, 240);
  display: inline-block;
  margin: 0 0.2rem;
}

.indicator div:first-child {
  background-color: #66C88D;
}
