@charset "UTF-8";

@font-face {
    font-family: 'NG';
    src: url("../asset/font/NanumGothic.woff") format("woff");
}

@font-face {
    font-family: 'NGBold';
    src: url("../asset/font/NanumGothicBold.woff") format("woff");
}

* {
    margin: 0;
    padding: 0;
}

/* 헤더 import */
ul {
    margin: 0;
}

.container {
    max-width: 1024px; /* 컨텐츠 width 1024로 맞춰주기 */
    height: 100vh;
    padding: 0;
}

/* 드롭다운 메뉴 */
#drop-menu {
    width: 1024px;
    heigth: 10vh;
    padding: 20px;
    margin: 0px;
}

/*!* 드롭다운 메뉴 테두리 *!*/
/*.dropdown-toggle {*/
.form-select {
    border-radius: 50px;
    /*width: 200px;*/
    margin-right: 10px;
}

/*.dropdown-menu {*/
/*    border: 1px solid rgb(190, 190, 190);*/
/*    border-radius: 20px;*/
/*}*/

/* 지도 */
#map {
    width: 1024px;
    height: 725px;
}

#crt-info {
    z-index:9999;
    margin-bottom: 10px;
}

/* 좌우 버튼 */
.left-btn,
.right-btn {
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    background-color: rgba(255,255,255,0.5);
}

.left-btn > i,
.right-btn > i {
    color: rgb(127, 127, 127);
}

/* 좌우 버튼 호버 */
.left-btn:hover,
.right-btn:hover {
    background-color: #fff;
}

.left-btn:hover > i,
.right-btn:hover > i {
    color: #000;
}

/* 정보 카드 margin */
.card-cover {
    margin: 0 10px;
}

/* <p> margin */
.card-text {
    margin: 2px 0;
}

/* 지도 안 코트 카드*/
button.card {
    border-radius: 25px;
    width: 240px;
}

/* 카드 안 컨텐트 정렬 */
.card-body {
    display: flex;
    flex-direction: column;
    width: 240px;
    align-items: flex-start;
}

.card-title {
    font-weight: bold;
}

/* 코트 카드 3번째 줄*/
.content3 {
    width: 200px;
    display: flex;
    justify-content: space-between;
}

/* 코트 카드 안 정보 버튼*/
.info-btn {
    background-color: rgb(203, 203, 203);
    color: #fff;
    border-radius: 20px;
    height: 25px;
    width: 60px;
    line-height: 15px;
}

/* 카드 클릭 */
button.card:focus {
    background-color: rgb(249, 248, 113);
}

/* 카드 호버 */
.card-cover:hover {
    box-shadow: 0 0 0 0.25rem rgb(249, 248, 113, 25%);
}

button.card:focus .info-btn {
    background-color: #fff;
    color: black;
}

/* 선택된 테니스장 정보 */
#selected-crt {
    width: 90%;
}

#selected-crt > #crt-name {
    font-weight: bold;
}

/* 다음, 이전 날짜가 있을 때 좌우버튼 색*/
#date-r-btn > i {
    color: rgb(33, 159, 148);
}

.date-wrap {
    border-radius: 40px;
}

/* 날짜 호버 그림자 */
.date-wrap:hover {
    box-shadow: 0 0 0 0.25rem rgb(33, 159, 148, 25%);
}

/* 날짜 p margin*/
.date-wrap > p {
    margin: 0;
    text-align: center;
}

/* 토욜 일욜 color */
.date-wrap.sat {
    color: rgb(41, 128, 185);
}
.date-wrap.sun {
    color: #ea3e42;
}



