html,
body {
  height: 100%;
  font-family: "Nanum Gothic";
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.form-signin {
  width: 100%;
  max-width: 400px;
  padding: 15px;
  margin: auto;
}

/* .form-signin .form-floating:focus-within {
  z-index: 2;
} */

.form-control:focus {
  box-shadow: 0 0 0 0.25rem rgb(102 200 141 / 25%);
}

#email-chek{
  margin-top: 0.8rem;
  margin-right: 9.0rem;
  color:black;
}

#link-btn {
  margin-top: -1.0rem;
}


#info-tel {
  margin-top: -0.8rem;
  background-color: rgb(234, 234, 234);
  font-size: small;
}

#info-tel > a:first-child {
  color: #585b5e;
}

#info-tel > :last-child {
  color: #66c88d;
}


#pwdfind{
  margin-right: 7.2rem;
  margin-bottom: 5.0rem;
  font-weight: bold;
}

#emailstn {
  margin-top: 3.0rem;
  margin-right: 6.7rem;
  margin-bottom: 0.1rem;
}




.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-radius: 5px;
  border-color: rgb(224, 224, 224);
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-radius: 5px;
  border-color: rgb(224, 224, 224);
}

.btn {
  background-color: #66c88d;
  border: none;
  height: 4.0rem;
  font-weight: bold;
}

.btn:hover {
  background-color: #52b479;
}

@font-face {
  font-family: "CooperBlack";
  src: url("../asset/font/Cooper-Black-BT.woff") format("woff");
}

#login-h {
  /* text-align: left; */
  font-family: "CooperBlack";
  color: #92db82;
  font-size: 3rem;
  /* font-family: "NanumBarunGothic"; */
  font-weight: bold;
}

p {
  font-size: x-small;
}

.form-login {
  margin-bottom: 1.5rem;
}

.form-login .form-control {
  height: 3.1rem;
}

input.form-control::placeholder {
  font-size: 15px;
  color: rgb(190, 190, 190);
  /* padding: 0.8rem;
  margin-left: 0.4rem; */
}

.form-check-input {
  margin-top: 0;
  border-color: rgb(190, 190, 190);
}

.form-check-input:focus {
  box-shadow: 0 0 0 0.25rem rgb(102 200 141 / 25%);
}

/* .checkbox label {
  float: left;
} */

.checkbox label {
  display: flex;
  justify-content: start;
  align-items: center;
}

/* '이메일 저장하기' 텍스트 */
.checkbox label span {
  margin-left: 0.5rem;
  font-size: 14px;
}

#password-join div {
  font-size: 15px;
  font-weight: bold;
  color: rgb(66, 66, 66);
  margin-bottom: 0.5rem;
}

a {
  color: rgb(66, 66, 66);
  text-decoration: none;
}

a:hover {
  color: rgb(66, 66, 66);
}

#password-join div:first-child {
  padding-left: 3rem;
}

#password-join div:nth-child(2) {
  padding-right: 3rem;
}

#password-join + div {
  font-size: 0.75rem;
  color: rgb(94, 94, 94);
}

.section-border {
  border-top: 1px solid rgb(224, 224, 224);
}
