html,
body {
  height: 100%;
  font-family: 'NanumGothic';
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.form-signin {
  width: 100%;
  max-width: 400px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

/* .form-signin .form-floating:focus-within {
  z-index: 2;
} */

.form-control:focus {
  box-shadow: 0 0 0 0.25rem rgb(102 200 141 / 25%);
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-radius: 5px;
  border-color: rgb(224, 224, 224);
}

/* #floatingInput {
  padding-top: 10px;
  padding-bottom: 10px;
} */

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-radius: 5px;
  border-color: rgb(224, 224, 224);
}

.btn {
  background-color: #66C88D;
  border: none;
  height: 3.3rem;
  font-weight: bold;
}

.btn:hover {
  background-color: #52b479;
}

#login-h {
  text-align: left;
  font-family: 'NanumBarunGothic';
  font-weight: bold;
}

p {
  font-size: x-small;
}

.form-lime {
  margin-bottom: 0.8rem;
}

.form-lime .form-control {
  height: 3.1rem;
}

input.form-control::placeholder {
  font-size: 15px;
  color: rgb(190, 190, 190);
  /* padding: 0.8rem;
  margin-left: 0.4rem; */
}

#email-checkbox {
  border-color: rgb(190, 190, 190);
}

/* .checkbox label {
  float: left;
} */

.checkbox label {
  display: flex;
  justify-content: start;
  align-items: center;
}

/* '이메일 저장하기' 텍스트 */
.checkbox label span {
  margin-left: 0.5rem;
  font-size: 14px;
}

#password-join div {
  font-size: 15px;
  font-weight: bold;
  color: rgb(66, 66, 66);
  margin-bottom: 0.5rem;
}

a {
  color: rgb(66, 66, 66);
  text-decoration: none;
}

a:hover {
  color: rgb(66, 66, 66);
}

#password-join div:first-child {
  padding-left: 3rem;
}

#password-join div:nth-child(2) {
  padding-right: 3rem;
}

#password-join + div {
  font-size: 0.75rem;
  color: rgb(94, 94, 94);
}

.social-login {
  width: 2rem;
  border: none;
  border-radius: 50px;
  background-color: #FFEB00;
}

.social-login img {
  border-radius: 50px;
}

#kakao-login {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  position: relative;
  width: 3rem;
  height: 3rem;
  border-radius: 50px;
  background-color: #FFEB00;
  overflow:hidden;
  margin: 1rem;
}

#facebook-login {
  padding: 0;
  position: relative;
  width: 3rem;
  height: 3rem;
  border-radius: 50px;
  overflow:hidden;
  margin: 1rem;
  background-color: #4051B5;
}

#facebook-login img {
  width: 100%;
  height: 100%;
  object-fit:cover;
}

#kakao-login img {
  width: 1.9rem;
  object-fit:cover;
  margin-left: 0.1rem;
  margin-top: 0.1rem;
}

#naver-login {
  padding: 0;
  position: relative;
  width: 3rem;
  height: 3rem;
  border-radius: 50px;
  overflow:hidden;
  margin: 1rem;
}

#naver-login img {
  width: 100%;
  height: 100%;
  object-fit:cover;
}

.section-border {
  border-top: 1px solid rgb(224, 224, 224);
}