html,
body {
  height: 100%;
  font-family: "NanumGothic";
}

/* body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
} */

.social-match {
  width: 100%;
  /* max-width: 900px; */
  max-width: 1024px;
  padding: 15px;
  margin: auto;
}

.btn {
  background-color: #66c88d;
  border: none;
  height: 3.3rem;
  font-weight: bold;
}

.btn:hover {
  background-color: #52b479;
}

a {
  color: rgb(66, 66, 66);
  text-decoration: none;
}

.match-info {
  font-size: 0.7rem;
  margin-bottom: 0;
  margin-top: 0.5rem;
}

.match-btn {
  height: 2.3rem;
  width: 6rem;
  font-size: 0.8rem;
  font-weight: 400;
  color: #fff;
}

.match-btn:hover {
  color: #fff;
}

.list-group-item {
  padding: 1rem;
}

.list-group-flush > .list-group-item:last-child {
  border-bottom-width: 1px;
}

.match-time {
  font-weight: bold;
}

.social-match .form-select {
  width: 5rem;
  /* width: 100%; */
  margin-right: 0.5rem;
  font-size: 0.8rem;
  border-radius: 1rem;
  border-color: rgb(224, 224, 224);
}

.social-match .form-select:nth-child(1) {
  width: 8.5rem;
}

.social-match .form-select:nth-child(2) {
  width: 6.1rem;
}

.social-match .form-select:nth-child(3) {
  width: 8.9rem;
}

.social-match .form-select:nth-child(4) {
  width: 6.1rem;
}

.social-match .form-select:nth-child(5) {
  width: 5.5rem;
}

.social-match .form-select option {
    /* background: black; */
    /* color: #fff; */
    padding: 3px 0;
}

#preferred {
  width: 6rem;
  margin-right: 0;
}

.nav-menu {
  padding: 0;
}

.nav-links {
  padding: 0;
}

.nav-menu-div {
  margin-top: 1rem;
  padding-left: 5.3125rem;
  padding-right: 5.3125rem;
}

.nav-links-div {
  margin-top: 1.1rem;
}

#u-nav-bar ul {
  margin: 0;
}

.closed-btn {
  color: rgb(190, 190, 190);
  background-color: rgb(240, 240, 240);
}

.closed-btn:hover {
  color: rgb(190, 190, 190);
  background-color: rgb(240, 240, 240);
}

#my-preferred {
  font-size: 1rem;
  width: 5rem;
  display: flex;
  align-items: center;
}

#my-preferred span {
  font-size: 0.9rem;
}

#my-preferred .form-check-input {
    margin: 0;
}

