
body {
    align-items: center;
    margin: 0 auto;
}
.div-wrapper {
    display: flex;
    
}

.form-control:focus {
    box-shadow: 0 0 0 0.25rem rgb(102 200 141 / 25%);
    border-color: rgb(224, 224, 224);
  }



.form-control:focus {
    box-shadow: 0 0 0 0.25rem rgb(102 200 141 / 25%);
  }

input.form-control::placeholder {
font-size: 15px;
color: rgb(190, 190, 190);
/* padding: 0.8rem;
margin-left: 0.4rem; */
}


.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

input::placeholder {
    color: gray;
}
.thumbnail {
    margin-left: 35vw;
    margin-bottom: 100px;
}


#thum-comment {
    margin-left: 700px;
}
#base-sentence {
    color: gray;
}
.chose {
    float: left;

}
ul{
    list-style:none;
    font-size: small;
}
#re-ul {
    margin-left: 31.5vw;
}

.search-wrapper {
    margin-top: 10px;
}

.re-ci-choose > select {
    border-radius: 5px;
    width: 18vw;
    height: 55px;
    font-weight: bold;
    background-color: rgb(250, 250, 250);
    border: 1px solid #bbb;
    margin-bottom: 3vw;
}
#open-date-intro {
    margin-left: 31.5vw;
    padding: 3.5vw;
    font-weight: bold;

}
.st-end-chose {
    margin-top: 3vw;
    float: left;
}
.st-end-chose > li {
    margin-top: 10px;
}

.st-end-chose > li > select {
    border-radius: 5px;
    height: 4vh;
}

#st-ul {
    margin-left: 31.5vw;
    margin-right: 1vw;
}
#page-turn {
    display: flex;
    justify-content: center;
    align-items: center;
}
.page-turn {
    text-align: center;
    width: 100%;
    margin-top: 20vh;

}
.page-turn #page-no {
    display: inline-block;
    vertical-align: middle;
    font-size: x-large;
}
#pre-btn {
    margin-right: 15vw;
    background-color: white;
    border-radius: 5px;
    width: 90px;
    height: 50px;
    border-color: rgb(102,200,141);
    color: rgb(102,200,141);
    font-weight: bold;
    font-size: large;
    border: 1px solid;
}
#next-btn {
    margin-left: 15vw;
    background-color: rgb(102,200,141);
    border-radius: 5px;
    width: 90px;
    height: 50px;
    border: white;
    color: white;
    font-weight: bold;
    font-size: large;
}
#pre-btn:hover {
    background-color: rgb(102,200,141);
    border: rgb(102,200,141);
    color: white;
    outline: 1px solid rgb(102,200,141);
}

#next-btn:hover {
    background-color: white;
    border: rgb(102,200,141);
    color: rgb(102,200,141);
    outline: 1px solid rgb(102,200,141);
}
.class-cont {
    height: 40px;
    border-radius: 5px;
    margin-bottom: 70px;
    margin-left: 35vw;
}
.class-cont > select {
    border: 1px solid #bbb;
}
.cl-info-comment {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
textarea {
    resize: none;
    border-radius: 10px;
    margin-bottom: -15px;
}

#text-title {
    margin-top: 50px;
    margin-right: 40px;
}
#qna {
    margin-top: 100px;
    margin-right: 390px;
}
#qna-text{
    margin-bottom: -58px;
}

textarea:focus {
    outline: 3px solid rgb(146, 219, 130);
    border: none;
}


#formGroupExampleInput {
    width: 100px;
}
#formGroupExampleInpu2 {
    width: 100px;
}