@charset "UTF-8";
#detailBtn {
  border: none;
  background-color: rgb(127, 127, 127) ;
  color:white;
  border: none;
}
#x-thead {
  background-color: rgb(191, 186, 178) ;
}
.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
  border: 1px solid rgb(190, 190, 190);
}
.row {
  font-family: 'NanumGothic';
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  float: none;
  margin: 0 auto;
}
.col {
  justify-content: center;
  float: none; 
  margin: 0 auto;
}
.admin-user {
  width: 100vw;
  height: 100vh;
  display: flex;
  max-height: 100vh;
  margin: auto;
  margin: 0;
  /* max-width: 1500px; */
}

#user-table {
  display: flex;
  justify-content: center;
  width: 100vw;
}

#x-table {
	width: 1024px
}