
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#body-wrapper {
    min-height: 100%;
    position: relative;
}

#body-content {
    font-family: 'NanumGothicExtraBold';
    margin-top: 100px;
    padding-bottom: 1000px;
    background-color: bisque;
}

#footer {
    font-family: 'NanumGothic';
    width: 100%;
    height: 423px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #66C88D;
}

#footer-wrapper {
    margin-top: 80px;
    margin-left: 150px;
    margin-right: 150px;
    
}

#footer-nav {
    font-family: 'NanumGothic';
    color: aliceblue;

}

#footer-nav ul h5{
    font-size: 150%;
    
}

#footer-nav ul {
    list-style-type: none;
    float: left;
    margin-right: 100px;
}