
html, body {
    padding: 0;
    height: 100%;
    
}

#body-wrapper {
    min-height: 100%;
    position: relative;
    margin: 0px auto;
}

#body-content {
    font-family: 'NanumGothicExtraBold';
    margin-top: 100px;
    padding-bottom: 423px;
    background-color: bisque;
}

#footer {
    font-family: 'NanumGothic';
    width: 100%;
    height: 423px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #66C88D;
}

.footer-wrapper {
    margin-top: 80px;
    margin-left: 150px;
    margin-right: 150px;
    border: 10px green;
    position: relative;

}

.footer-nav {
    font-family: 'NanumGothic';
    color: white;
    position: absolute;

}

.footer-nav > ul {
    font-family: 'NanumGothicExtraBold';
    list-style-type: none;
    float: left;
    margin-right: 100px;
}

.footer-company {
    margin-left: 800px;
    color: white;
}

.footer-company h3 a {
    font-family: 'NanumGothicExtraBold';
    font-weight: bolder;
    font-size: 120%;
    font-style: italic;
    text-decoration-line: none;
    border-bottom: 7px solid #C3EB78;
}

.footer-wrapper a:link, .footer-wrapper a:visited {
    text-decoration-line: none;
    color: white;
}

.footer-nav ul a:hover {
      background-color: gray;
      border-radius: 5px;
  }

.footer-company > li {
    list-style-type: none;
    float: left;
    margin-left: 5px;
}

.footer-company p {
    margin-top: 15px;
}