@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
}

p {
    margin: 2px 0;
}

.container {
    max-width: 1024px; /* 컨텐츠 width 1024로 맞춰주기 */
    height: 100vh;
    padding: 0;
}

/* 드롭다운 메뉴 */
#drop-menu {
    width: 1024px;
    heigth: 10vh;
    padding: 20px;
    margin: 0px;
}

/*!* 드롭다운 메뉴 테두리 *!*/
/*.dropdown-toggle {*/
.form-select {
    border-radius: 50px;
    /*width: 200px;*/
    margin-right: 10px;
}

/*.dropdown-menu {*/
/*    border: 1px solid rgb(190, 190, 190);*/
/*    border-radius: 20px;*/
/*}*/

/* 지도 */
#map {
    width: 1024px;
    height: 725px;
}

/* 좌우 버튼 */
#left-btn, #right-btn {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
}

#crt-card {
    width: 850px;
}

/* 지도 안 코트 정보 카드*/
button.card {
    border-radius: 25px;
    width: 240px;
}

/* 카드 안 컨텐트 정렬 */
.card-body {
    display: flex;
    flex-direction: column;
    width: 240px;
    align-items: flex-start;
}

.card-title {
    font-weight: bold;
}

/* 코트 카드 3번째 줄*/
.content3 {
    width: 200px;
    display: flex;
    justify-content: space-between;
}

/* 코트 카드 안 정보 버튼*/
.info-btn {
    background-color: rgb(203, 203, 203);
    color: #fff;
    border-radius: 20px;
    height: 25px;
    width: 60px;
    line-height: 15px;
}

/* 카드 클릭 시 */
button.card:focus {
    background-color: rgb(249, 248, 113);
}

button.card:focus .info-btn {
    background-color: #fff;
    color: black;
}
