@charset "UTF-8";

@font-face {
    font-family: 'NG';
    src: url("../asset/font/NanumGothic.woff") format("woff");
}

@font-face {
    font-family: 'NGBold';
    src: url("../asset/font/NanumGothicBold.woff") format("woff");
}

* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1024px; /* 컨텐츠 width 1024로 맞춰주기 */
    padding: 0;
    height: 1800px;
}

.prefer-wrap {
    width: 125px;
    align-self: center;
}

/* 드롭다운 메뉴 */
#drop-menu {
    width: 1024px;
    height: 10vh;
    padding: 20px;
    margin: 0px;
}
#drop-region, #drop-city {
    height: 38px;
}

/*!* 드롭다운 메뉴 테두리 *!*/
.form-select {
    border-radius: 50px;
    margin-right: 10px;
}

/* 지도 */
#map {
    width: 1024px;
    height: 725px;
}

/* card swiper css */
#swiper-temp2 {
    position: relative;
    width: 100%;
    /*left: 20px;*/
}

/* 코트 카드 */
#info-card {
    position: static;
    z-index:9999;
    margin-bottom: 10px;
    width: 45vw;
}

/* <p> margin */
.card-text {
    margin: 2px 0;
}

/* 지도 안 코트 카드*/
button.card {
    border-radius: 25px;
    width: 240px;
    height: 150px;
}

/* 카드 좌우버튼 색*/
#c-next, #c-prev {
    color: rgb(127, 127, 127);
    top: -70px;
}

/* 카드 안 컨텐트 정렬 */
.card-body {
    display: flex;
    flex-direction: column;
    width: 240px;
    align-items: flex-start;
}

.card-title {
    font-weight: bold;
}

/* 코트 카드 3번째 줄*/
.content3 {
    width: 200px;
    display: flex;
    justify-content: space-between;
}

/* 코트 카드 안 정보 버튼*/
.info-btn {
    background-color: rgb(203, 203, 203);
    color: #fff;
    border-radius: 20px;
    height: 25px;
    width: 60px;
    line-height: 15px;
}

/* 카드 클릭 */
.selected-card {
    background-color: rgb(249, 248, 113);
}

/* 카드 호버 */
button.card:hover {
    box-shadow: 0 0 0 0.25rem rgb(249, 248, 113, 25%);
}

/* 정보 버튼 색 변경 */
.changed-color {
    background-color: #fffee8;
    color: black;
}

/* 선택된 테니스장 정보 */
#selected-crt-wrap {
    border: 1px solid rgb(102, 200, 141);
    border-radius: 5px;
}
#selected-crt {
    width: 90%;
}

#selected-crt > #crt-name {
    font-weight: bold;
}

.date-wrap {
    border-radius: 50px;
    font-weight: bolder;
}

.date-wrap > span {
    font-size: 1rem;
}

/* 토욜 일욜 color */
.date-wrap.sat {
    color: rgb(41, 128, 185);
}
.date-wrap.sun {
    color: #ea3e42;
}



/* swiper css */
html,
body {
    position: relative;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
}

#swiper-temp {
    position: relative;
    width: 1024px;
}

.date-swiper {
    height: 70px;
    position: static;
    width: 45vw;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.date-wrap {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 0;
}

button.date-wrap.selected-date {
    background-color: #66C88D;
    color: #fff;
}

#date-next, #date-prev {
    color: rgb(33, 159, 148);
}



/* 스케쥴 */
.crt-no {
    width: 5vw;
    text-align: center;
    line-height: 80px;
    font-size: 15px;
}

.sche-btn {
    border-radius: 20px;
    background-color: rgba(102, 200, 141, 0.2);
}
.sche-btn:hover {
    background-color: rgb(102, 200, 141);
    color: #fff;
}

.closed {
    background-color: rgb(240, 240, 240);
    color: rgb(127, 127, 127);
}
.closed:hover {
    background-color: rgb(240, 240, 240);
    color: rgb(127, 127, 127);
    cursor: default;
}