@charset "UTF-8";

@font-face {
    font-family: 'NG';
    src: url("../asset/font/NanumGothic.woff") format("woff");
}

@font-face {
    font-family: 'NGBold';
    src: url("../asset/font/NanumGothicBold.woff") format("woff");
}

* {
    margin: 0;
    padding: 0;
}

/* container height 변동에 따른 footer 위치 변경*/
body {
    height: 100%;
}

.container {
    max-width: 1024px;
    min-height: 100%; /* body height: 100%와 짝꿍 */
    padding: 0;
}

/* 이미지 속 코트예약 정보 */
#rsv-info {
    font-size: 27px;
    font-weight: bolder;
    color: #fff;
}

/* 결제 상세 */
#pay-detail {
    background-color: rgb(250, 250, 250);
    color: rgb(127, 127, 127);
    font-weight: bold;
    font-size: 18px;
}

/***********
 라임캐시 충전 버튼
 ***********/
#addon-btn {
    background-color: rgb(102, 200, 141);
    color: #fff;
}
#addon-btn:hover,
#addon-btn:focus {
    box-shadow: 0 0 0 0.25rem rgb(102 200 141 / 25%);
}
input[aria-label="cash"]:hover,
input[aria-label="cash"]:focus {
    box-shadow: 0 0 0 0.25rem rgb(102 200 141 / 25%);
    border: 1px solid #dee2e6;
}

/****************
 안내사항 아코디언 리스트
 ****************/
#accordionPanelsStayOpenExample {
    background-color: rgb(250, 250, 250);
}
.accordion-button {
    font-weight: bold;
    color: rgb(127, 127, 127);
}
.accordion-button:focus {
    box-shadow: 0 0;
}

/**********
 결제 버튼
 **********/
#payment-btn {
    background-color: rgb(102, 200, 141);
    color: #fff;
    font-size: 20px;
    border-radius: 15px;
    border: 0px;
}
#payment-btn:hover {
    box-shadow: 0 0 0 0.25rem rgb(102 200 141 / 25%);
}