html,body {
    font-family: 'NanumGothic';
}

#body-wrapper {
    min-height: 100%;
    position: relative;
    margin: 0px auto;
}

#market-content {
    width: 100%;
    height: 100%;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
}

#market-nav-wrap {
    width: 100%;
    max-width: 1024px;
    height: 150px;
}

#market-nav {
    max-width: 1024px;
    min-width: 1024px;
    position: absolute;
    bottom: 0;
}

#region, #city {
    font-size: 100%;
    width: 180px;
    height: 3rem;
    border-radius: 50px;
}

#checkbox-wrap {
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}


#nav-checkbox {
    position: relative;
    top: 6px;
    zoom: 1.8;
    border-color: rgb(190, 190, 190);
    cursor: pointer;
}

label[id=nav-c-label] {
    position: relative;
    top: 6px;
}

.search-bar {
    display: flex;
    width: 300px;
    height: 40px;
    border-radius: 15px;
    border: solid 1px;
    border-color: rgb(190, 190, 190);
    justify-content: center;
    align-items: center;
}

input[type=search] {
    width: 80%;
    height: 80%;
    border-style: none;
    outline: none;
    margin: 0 auto;
}

input[type=search]::placeholder {
    font-weight: bold;
    color: rgb(190, 190, 190);
}


#market-write {
    width: 6rem;
    height: 42.5px;
    color: white;
    font-size: large;
    font-weight: bold;
    background-color: rgb(102, 200, 141);
    border: none;
    border-radius: 5px;
    float: right;
}

#content-body {
    min-height: 1000px;
    margin-bottom: 50px;
}

#item-list {
    width: 1050px;
    margin: 0 auto;
}

#photo-wrap {
    width: 300px;
    height: 250px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

#item-photo {
    /* width: 300px;
    height: 250px; */
    /* transform: translate(50, 50); */
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.3rem;
}

/* .row[name=c-body] {
    font-family: 'NanumGothic';
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 200px;
    margin-right: 200px;
} */

.heart-click {
    position: absolute;
    right: 10px;
    top: 210px;
    
}

.heart-click:hover {
    cursor: pointer;
}


/* .btn-like.done {
    color: inherit;
    text-shadow: 0;
  } */

.card-body > .card-title > a{
    color: black;
    text-decoration-line: none;
    
}

.card-body > .item-price {
    font-weight: bolder;
    font-size: 1.1rem;
}

.view-count {
    color: rgb(127, 127, 127);
    font-size: 0.9rem;
}

.card-body > span > .R {
    padding: 3px 5px;
    color: white;
    font-size: 0.8rem;
    background-color: rgb(27, 188, 156);
    border-radius: 3px;
}

.card-body > span > .E {
    padding: 3px 5px;
    color: white;
    font-size: 0.8rem;
    background-color: rgb(158, 158, 158);
    border-radius: 3px;
}

#empty-notice {
    position: relative;
    width: 1024px;
    height: 1000px;
    border: 1px solid rgb(102, 200, 141);
    border-radius: 20px;
}

#empty-notice > p {
    font-size: 2em;
    font-weight: bold;
    width: 100%;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}
